.menu {
  border-bottom: 1px solid #cfd7e6;
  background-color: #fff;
  margin-top: 60px;
  width: 100%;
}
.content {
  display: block;
  padding: 0 10px;
  padding-top: 10px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .content, .tabs {
    max-width: 1200px;
    margin: 0 auto;
  }
  .content {
    margin-top: 110px;
  }
  .menu {
    position: fixed;
    top: 60px;
    z-index: 98;
    margin-top: 0;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
