<div class="menu">
  <ul class="tabs">
    <li [routerLink]="group.link" routerLinkActive="active" *ngFor="let group of groups">{{ group.name }}</li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
