:host {
  display: none;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  :host {
    height: 60px;
    line-height: 60px;
    float: left;
    display: block;
  }
  li {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 2px;
    display: inline-block;
  }
  li:hover {
    cursor: pointer;
    background-color: rgba(207, 216, 220, 0.5);
  }
  li.active {
    background-color: #2A394F;
    color: #fff;
    border-bottom: 2px solid rgba(207, 216, 220, 0.1);
  }
  li.active:hover {
    background-color: #2A394F;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
