<div class="card">
  <div class="card-header blue">
    {{'Message of the Day' | translate}}
  </div>
  <div class="card-body">
    If "Plan A" didn't work, the alphabet has 25 more letters. Stay cool!
  </div>
</div>
