:host {
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #8d9095;
  width: 100%;
}
:host.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
main p {
  float: left;
  margin: 0;
}
main ul {
  display: block;
  margin: 0;
  padding: 0;
  float: right;
}
main ul li {
  display: inline-block;
}
main ul li:before {
  content: " | ";
}
main ul li:first-child:before {
  content: "";
}
main ul li a {
  color: #8d9095;
  text-decoration: none;
}
main ul li a:hover {
  color: #0FA0CE;
  text-decoration: underline;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}