<div class="card" [@animation]="">
  <core-loader [show]="processing"></core-loader>
  <div class="card-header">
    Pick an organization to configure:
  </div>
  <div class="card-body">
    <div class="input col-3">
      <label>Organization</label>
      <select [(ngModel)]="selectedOrganizationId" (ngModelChange)="onOrganizationChange($event)">
        <option *ngFor="let organization of organizations" [value]="organization._id" >{{ organization.name }}</option>
      </select>
    </div>
  </div>
</div>
<div style="height:20px"></div>
<div class="card">
  <core-loader [show]="processing"></core-loader>
  <div class="card-header blue">
    Profile
  </div>
  <div class="card-body" *ngIf="selectedOrganization">
    <div class="row">
      <div class="input col-3">
        <label>Name</label>
        <input type="text" [(ngModel)]="selectedOrganization.name" [disabled]="updatingProfile">
      </div>
      <div class="input col-3">
        <label>Language</label>
        <select [(ngModel)]="selectedOrganization.language" [disabled]="updatingProfile">
          <option *ngFor="let language of languages" [value]="language.code">
            {{language.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="button" [disabled]="updatingProfile" (click)="updateProfile()" value="{{updatingProfile ? 'Updating' : 'Update'}}" *ngIf="selectedOrganization">
  </div>
</div>
<div style="height:20px"></div>
<div class="card">
  <div class="card-header purple">
    Configured DDI Endpoints
  </div>
  <div class="card-body">
    <div class="responsive-table">
      <table>
        <tr>
          <!-- <th></th> -->
          <th *ngFor="let header of tableData.headers" [hidden]="header == 'ID'">{{ header }}</th>
        </tr>
        <tr *ngFor="let cells of tableData.rows">
          <!-- <td><input type="checkbox"></td> -->
          <td *ngFor="let cell of cells; let i = index;"
              [hidden]="i === 0"
              [ngClass]="i === cells.length - 1 ? 'special-cell': ''"
              (click)="routeToUpdateIpam(cells[0])">
            <span>{{ cell }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer" [hidden]="!allowNewIpam">
    <input type="button" value="New DDI Endpoint" (click)="routeToNewIpam()">
    <!-- <input type="button" value="Delete IPAM(s)" disabled>
    <input type="button" value="Enable IPAM(s)" disabled> -->
  </div>
</div>
