.special-cell span {
  background-color: #66bb6a;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 1.3rem;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
