<div class="card" [@animation]="">
  <core-loader [show]="processing" [delay]="500"></core-loader>
  <div class="card-body">
    <div class="row">
      <div class="input col-3">
        <label>Language</label>
        <select *ngIf="config" [(ngModel)]="config.language">
          <option *ngFor="let language of languages" [value]="language.code">
            {{language.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="button" (click)="update()" value="Update">
  </div>
</div>
