:host {
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: relative;
  margin-top: 10px;
  float: left;
  text-align: center;
  font-size: 1.6em;
}
:host:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.5);
}
img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  :host {
    display: none;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
