:host {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.6s ease-in-out;
}
:host.invisible {
  transform: translateY(-200%);
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
li {
  height: 55px;
  line-height: 55px;
  width: 100%;
  position: relative;
  padding: 0 20px;
  outline: none;
  list-style: none;
}
li:hover {
  cursor: pointer;
  background-color: rgba(207, 216, 220, 0.5);
}
li.active {
  background-color: #2A394F;
  color: #fff;
  border-bottom: 2px solid rgba(207, 216, 220, 0.1);
}
li.active:hover {
  background-color: #2A394F;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  :host {
    display: none;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
