:host {
  height: 60px;
  width: 80px;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  margin: auto 0;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  :host {
    width: 100px;
  }
  :host {
    float: left;
    position: relative;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
