#button {
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: relative;
  margin-top: 10px;
  float: right;
  text-align: center;
  font-size: 1.6em;
  color: #607d8b;
}
#button:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.5);
}
#input {
  z-index: 99;
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #cfd7e6;
}
#input input[type="text"] {
  border: none;
  background-color: transparent;
  height: 100%;
  width: calc(100% - 40px);
  padding-left: 10px;
}
#input i {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 1.6em;
  color: #607d8b;
  float: right;
}
#input i:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.5);
}
.content {
  padding: 0 10px;
  position: relative;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  #input {
    left: 100px;
  }
  #input input[type="text"] {
    height: 40px;
    padding: 0 15px;
    border-radius: 2px;
    background-color: rgba(207, 216, 220, 0.2);
    width: 100%;
  }
  #input i {
    display: none;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}