<div id="button" [hidden]="showingSearchInput" (click)="startSearch()">
  <i class="icon-search"></i>
</div>
<div class="content" [hidden]="!showingSearchInput">
  <div id="input">
    <input type="text" placeholder="Search" #searchInput (blur)="stopSearch()" (keydown)="onKeyDown($event)">
    <i class="icon-close" (click)="stopSearch()"></i>
  </div>
</div>
