<div class="responsive-table">
  <table>
    <tr>
      <th *ngIf="selectable">
        <input type="checkbox" [(ngModel)]="isAllRowsChecked" (ngModelChange)="checkOrUnCheckAllRows()">
      </th>
      <th *ngFor="let header of headers; let i = index;" [hidden]="isCellHidden(i)" (click)="sort(i)">
        <span>
          {{ header }}
          <i class="icon-sort-desc" *ngIf="sortReverses[i] === true"></i>
          <i class="icon-sort-asc" *ngIf="sortReverses[i] === false"></i>
        </span>
      </th>
    </tr>
    <tr *ngFor="let row of rows | filter: searching | sort: selectedSortIndex : selectedSortReverse; let rowIndex = index;">
      <td *ngIf="selectable">
        <input type="checkbox" [(ngModel)]="rowSelection[rowIndex]" (ngModelChange)="fireRowSelectionChange()">
      </td>
      <td *ngFor="let cell of row; let cellIndex = index;" (click)="cellClick(row, cell, cellIndex)"
          [hidden]="isCellHidden(cellIndex)" [ngClass]="getCssClass(cell, cellIndex)">
        <span>{{ cell }}</span>
      </td>
    </tr>
  </table>
</div>
