:host {
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: relative;
  margin-top: 10px;
  float: right;
  text-align: center;
  font-size: 1.6em;
}
:host:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.5);
}
