<div class="card" [@animation]="" [hidden]="hiding">
  <core-loader [show]="processing" [delay]="500"></core-loader>
  <div class="card-body">
    <div>
      <div class="row">
        <div class="col-2 input">
          <label>Organization</label>
          <select [(ngModel)]="selectedFilter.organization" (ngModelChange)="onFilterChange()">
            <option *ngFor="let organizationFilter of organizationFilters" [value]="organizationFilter.value">{{ organizationFilter.name }}</option>
        </select>
        </div>
        <div class="col-2 input">
          <label>Role</label>
          <select [(ngModel)]="selectedFilter.role" (ngModelChange)="onFilterChange()">
            <option *ngFor="let roleFilter of roleFilters" [value]="roleFilter.value">{{ roleFilter.name }}</option>
          </select>
        </div>
        <div class="col-2 input">
          <label>Status</label>
          <select [(ngModel)]="selectedFilter.enabled" (ngModelChange)="onFilterChange()">
            <option *ngFor="let statusFilter of statusFilters" [value]="statusFilter.value">{{ statusFilter.name }}</option>
          </select>
        </div>
        <div class="col-3 input">
          <label>Search in This Page</label>
          <input type="text" placeholder="username, email, first or last name, ..." [(ngModel)]="searching">
        </div>
        <div class="col-2 input">
          <label>Page</label>
          <core-select-spinner [min]="1" [max]="pageCount" [(value)]="selectedPage" (valueChange)="onPageChange($event)" [disabled]="pageSelectDisabled"></core-select-spinner>
        </div>
        <div class="col-1 input">
          <label>Items/Page</label>
          <select [(ngModel)]="selectedPageSize" (ngModelChange)="onItemsPerPageChange($event)">
            <option *ngFor="let pageSize of pageSizes" [value]="pageSize">{{ pageSize }}</option>
          </select>
        </div>
      </div>
      <core-table
        [caller]="this"
        [headers]="headers"
        [rows]="rows"
        [onCellClick]="navigateUpdateUserPage"
        [hiddenColumns]="[]"
        [selectable]="true"
        [columnRenderers]="getColumnRenders()"
        [searching]="searching"
        [rowSelection]="rowSelection"
        (rowSelectionChange)="onRowSelectionChange($event)">
      </core-table>
    </div>
  </div>
  <div class="card-footer">
    <input type="button" value="New User" (click)="navigateNewUserPage()">
    <input type="button" value="Delete" class="outline-red" [disabled]="!hasUserSelected" (click)="deleteUser()">
    <input type="button" value="Change Status" class="outline-blue" [disabled]="!hasUserSelected" (click)="changeStatus()">
  </div>
</div>
