core-table {
  margin-top: 30px;
  display: block;
}

/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {
  core-table {
    margin-top: 0;
  }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
