<div class="center">
  <div class="box">
    <div class="content">
      <div class="logo">
        <img src="../../../assets/img/logo_small.png">
      </div>
      <form #f="ngForm" (ngSubmit)="login()">
        <div class="input">
          <label>{{'Username' | translate}}</label>
          <input type="text" name="usernameInput" class="full-width" [(ngModel)]="username" #usernameInput="ngModel" required>
            <span *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched || hasError) &&  usernameInput.errors.required">
              {{'Username is required' | translate}}.
            </span>
        </div>
        <div class="input">
          <label>{{'Password' | translate}}</label>
          <input type="password" name="passwordInput" class="full-width" [(ngModel)]="password" #passwordInput="ngModel" required>
          <span *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || hasError) && passwordInput.errors.required">
            {{'Password is required' | translate}}.
          </span>
        </div>
        <span *ngIf="hasError" style="color: #ff3d00;font-size: 1.3rem;">{{'Invalid user or password' | translate}}</span>
        <input type="submit" [disabled]="submiting" value="{{'Login' | translate}}" class="full-width">
      </form>
    </div>
    <portal-footer></portal-footer>
  </div>
</div>
