:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 999;
}
.center {
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.box {
  max-width: 400px;
  margin: 0 auto;
}
.content {
  padding: 10px;
}
.logo {
  margin-bottom: 10px;
}
.logo img {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
}
portal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  :host {
    background-color: #ECF2F6;
  }
  .content {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  portal-footer {
    position: relative;
    border-radius: 6px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
