<div class="menu">
  <ul class="tabs">
    <li class="tab" routerLink="/self-service" [queryParams]="{ filter: item.query }" routerLinkActive="active" *ngFor="let item of selfServiceGroups">{{ item.name }}</li>
  </ul>
</div>
<div class="content">
  <div class="list">
    <div class="item" *ngFor="let item of filterSelfServices(filter)">
      <div class="card">
        <div [ngClass]="['card-header', getColorForServiceType(item.type)]">
          <a href="#">{{ item.name }}</a>
        </div>
        <div class="card-body">
          {{ item.description }}
        </div>
        <div class="card-footer">
          <span><i class="icon-favorite_border"></i></span>
          <span class="pull-right"><i class="icon-play_arrow"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
