.card {
  height: 100%;
}
a, a:visited {
  color: #fff;
  text-decoration: none;
}
.content {
  padding: 0 10px;
}
.item {
  padding-top: 10px;
}
.menu {
  border-bottom: 1px solid #cfd7e6;
  background-color: #fff;
  margin-top: 60px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 98;
    margin: 0;
  }
  .content {
    margin-top: 110px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .list:after {
    content: "";
    display: table;
    clear: both;
  }
  .item {
    float: left;
    width: 50%;
    height: 250px;
    padding: 5px;
  }
  .content {
    padding: 5px;
  }
  portal-footer {
    margin-top: 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .content, .tabs {
    max-width: 1200px;
    margin: 0 auto;
  }
  .content {
    margin-top: 110px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .item {
    float: left;
    width: 25%;
    height: 250px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
