<form [formGroup]="myForm">
<div class="card">
  <div class="card-header">
    <span class="button-link"><a [routerLink]="'../../organizations'">Back</a></span>
    <i class="icon-keyboard_arrow_right"></i>
    {{ title }}
    <span class="message success" *ngIf="status.message">{{ status.message }}</span>
  </div>
  <div class="card-body">
    <div class="input">
      <label>Organization</label>
      <input type="text" [(ngModel)]="organization.name" [ngModelOptions]="{standalone: true}" readonly>
    </div>
    <div class="row">
      <div class="input col-3">
        <label>DDI Endpoint</label>
        <select [(ngModel)]="ipam.name" (ngModelChange)="onIpamNameChange($event)" formControlName="ipamName">
          <option *ngFor="let supportedIpamName of supportedIpamNames" [value]="supportedIpamName">{{ supportedIpamName  }}</option>
        </select>
        <span *ngIf="myForm.get('ipamName').invalid && (myForm.get('ipamName').dirty || myForm.get('ipamName').touched)">
          <p *ngIf="myForm.get('ipamName').errors.required">Name is required.</p>
        </span>
      </div>
      <div class="input col-3">
        <label>Version</label>
        <select [(ngModel)]="ipam.version" formControlName="ipamVersion">
          <option *ngFor="let supportedIpamVersion of supportedIpamVersions" [value]="supportedIpamVersion">{{ supportedIpamVersion }}</option>
        </select>
        <span *ngIf="myForm.get('ipamVersion').invalid && (myForm.get('ipamVersion').dirty || myForm.get('ipamVersion').touched)">
          <p *ngIf="myForm.get('ipamVersion').errors.required">Version is required.</p>
        </span>
      </div>
      <div class="input col-3">
        <label>Protocol</label>
        <select [(ngModel)]="ipam.protocol" formControlName="ipamProtocol">
          <option>HTTP</option>
          <option>HTTPS</option>
        </select>
        <span *ngIf="myForm.get('ipamProtocol').invalid && (myForm.get('ipamProtocol').dirty || myForm.get('ipamProtocol').touched)">
          <p *ngIf="myForm.get('ipamProtocol').errors.required">Protocol is required.</p>
        </span>
      </div>
      <div class="input col-3">
        <label>Port</label>
        <input type="text" [(ngModel)]="ipam.port" formControlName="ipamPort" placeholder="80" maxlength="5">
        <span *ngIf="myForm.get('ipamPort').invalid && (myForm.get('ipamPort').dirty || myForm.get('ipamPort').touched)">
          <p *ngIf="myForm.get('ipamPort').errors.required">Port is required.</p>
          <p *ngIf="myForm.get('ipamPort').errors.pattern">Port must be an integer.</p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input col-4">
        <label>Primary IP</label>
        <input type="text" [(ngModel)]="ipam.ipAddress.primary" formControlName="ipamPrimaryIp">
        <span *ngIf="myForm.get('ipamPrimaryIp').invalid && (myForm.get('ipamPrimaryIp').dirty || myForm.get('ipamPrimaryIp').touched)">
          <p *ngIf="myForm.get('ipamPrimaryIp').errors.required">Primary IP is required.</p>
        </span>
      </div>
      <div class="input col-4">
        <label>Secondary IP</label>
        <input type="text" [(ngModel)]="ipam.ipAddress.secondary" formControlName="ipamSecondaryIp" placeholder="Optional">
      </div>
      <div class="input col-4">
        <label>Tertiary IP</label>
        <input type="text" [(ngModel)]="ipam.ipAddress.tertiary" formControlName="ipamTertiaryIp" placeholder="Optional">
      </div>
    </div>
    <div class="row">
      <div class="input col-6">
        <label>Environment</label>
        <input type="text" [(ngModel)]="ipam.environment" formControlName="ipamEnvironment">
        <span *ngIf="myForm.get('ipamEnvironment').invalid && (myForm.get('ipamEnvironment').dirty || myForm.get('ipamEnvironment').touched)">
          <p *ngIf="myForm.get('ipamEnvironment').errors.required">Environment is required.</p>
        </span>
      </div>
      <div class="input col-6">
        <label>DNS View</label>
        <input type="text" [(ngModel)]="ipam.dnsView" formControlName="ipamDnsView">
        <span *ngIf="myForm.get('ipamDnsView').invalid && (myForm.get('ipamDnsView').dirty || myForm.get('ipamDnsView').touched)">
          <p *ngIf="myForm.get('ipamDnsView').errors.required">DNS View is required.</p>
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="button" value="Save" *ngIf="mode === 'new'" (click)="saveNew()" [disabled]="myForm.invalid">
    <input type="button" value="Update" *ngIf="mode === 'update'" (click)="update()" [disabled]="myForm.invalid">
    <input type="button" value="Delete" class="outline-red" *ngIf="mode === 'update'" (click)="delete()">
  </div>
</div>
</form>
