<div class="card">
  <div class="card-header purple">
    {{'Request' | translate}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2 input">
        <label>Filter by Status</label>
        <select>
          <option *ngFor="let status of requestStatuses">{{ status }}</option>
        </select>
      </div>
      <div class="col-4 input">
        <label>Search</label>
        <input type="text" placeholder="id, category, type, ..." [(ngModel)]="searchString">
      </div>
      <div class="col-2 input">
        <label>Page</label>
        <core-select-spinner [min]="1" [max]="10" [value]="1"></core-select-spinner>
      </div>
      <div class="col-1 input">
        <label>Items/Page</label>
        <select>
          <option>10</option>
          <option>30</option>
          <option>50</option>
        </select>
      </div>
    </div>
    <core-table
      [caller]="this"
      [headers]="requestTableHeaders"
      [rows]="requestTableRows"
      [searching]="searchString">
    </core-table>
  </div>
  <div class="card-footer">
    <input type="button" value="{{'Export to CSV' | translate}}">
  </div>
</div>
