@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/greek-ext.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/greek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans/latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
==============================
HTML, BODY, *
==============================
*/
*, *:before, *:after {
  box-sizing: inherit;
}
*, *:active, *:hover {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
html {
  box-sizing: border-box;
  font-size: 60%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  background-color: #ECF2F6;
}
html, body {
  height: 100%;
}
/*
==============================
TYPOGRAPHY
==============================
*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
/*
==============================
PARAGRAPH
==============================
*/
p {
  margin-top: 0;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(207, 215, 230, 0.2), rgba(207, 215, 230, 0.2), rgba(207, 215, 230, 0.2));
}
hr.divider {
  margin-top: 10px;
  margin-bottom: 15px;
}
/*
==============================
LINK
==============================
*/
a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
  text-decoration: underline;
}
/*
==============================
HELPERS & UTILITIES
==============================
*/
.full-width {
  width: 100% !important;
}
.max-full-width {
  max-width: 100% !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.responsive-table {
  width: 100%;
  overflow: auto;
  margin-bottom: 5px;
}
.button-icon {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
  font-size: 1.2em;
  color: #607d8b;
  display: inline-block;
}
.button-icon:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.5);
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
