.card {
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.card-header {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  position: relative;
}
.card-header.primary {
  background-color: #607d8b;
  color: #fff;
  border-bottom: none;
}
.card-header.green {
  background-color: #66bb6a;
  color: #fff;
  border-bottom: none;
}
.card-header.blue {
  background-color: #29b6f6;
  color: #fff;
  border-bottom: none;
}
.card-header.red {
  background-color: #ff7043;
  color: #fff;
  border-bottom: none;
}
.card-header.purple {
  background-color: #ab47bc;
  color: #fff;
  border-bottom: none;
}
.card-header ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}
.card-header ul li {
  display: inline;
  padding: 5px 10px;
}
.card-header ul li.active {
  background-color: rgba(207, 216, 220, 0.3);
  border-radius: 2px;
}
.card-header ul li:hover {
  background-color: rgba(207, 216, 220, 0.1);
  cursor: pointer;
}

.card-body {
  padding: 15px;
  height: calc(100% - 80px);
  overflow-x: auto;
  transition: all 1s;
  position: relative;
}
.card-body.blue {
  background-color: #29b6f6;
  color: #fff;
}

.card-footer {
  border-top: 1px solid #e6e6e6;
  background-color: #fafafa;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  transition: all 1s;
}
.card-footer span {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
  font-size: 1.2em;
  color: #607d8b;
  display: inline-block;
}
.card-footer span.highlight {
  border: 1px solid #bbb;
}
.card-footer span:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.5);
}

.card-footer input[type="button"],
.card-header input[type="button"],
.card-header input[type="text"],
.card-footer input[type="text"] {
  margin: 0 2px;
  height: 28px;
  line-height: 28px;
  font-size: 1.1rem;
}

.card-header input[type="text"],
.card-footer input[type="text"] {
  height: 28px;
  line-height: 28px;
  margin: 0 2px;
}

.card .message {
  color: #fff;
  border-radius: 50px;
  padding: 2px 5px;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 24px;
  line-height: 22px;
}
.card .message.success {
  background-color: #66bb6a;
}
.card .message.error {
  background-color: #ff3d00;
}

.card .button-link a {
  color: #000;
  text-decoration: none;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  padding: 0 5px;
  border-radius: 2px;
  background-color: rgba(207, 216, 220, 0.3);
}
.card .button-link a:hover {
  background-color: rgba(207, 216, 220, 0.5);
  cursor: pointer;
}
