/*
==============================
INPUT
==============================
*/
.input::after {
  content: "";
  display: table;
  clear: both;
}
.input label {
  display: block;
  font-size: 1.4rem;
  /* text-transform: uppercase; */
  margin-bottom: .5rem;
  padding-left: 1px;
  min-height: 2.2rem;
  overflow: hidden;
  white-space: nowrap;
}
.input input[type="text"],
.input input[type="password"],
.input input[type="emai"],
.input textarea,
.input select {
  font-family: 'Open Sans', sans-serif;
  height: 32px;
  padding: 0px 5px;
  box-shadow: none;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #cfd7e6;
  width: 100%;
}
.input input[type="text"],
.input input[type="password"]
.input input[type="email"]
.input textarea {
  padding: 0px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px; /* no rounded corners and glare on iOS */
  -webkit-appearance: none;
}
.input input[type="text"]:focus,
.input input[type="password"]:focus,
.input input[type="email"]:focus,
.input textarea:focus,
.input select:focus,
.input input[type="text"]:hover,
.input input[type="password"]:hover,
.input input[type="email"]:hover,
.input textarea:hover,
.input select:hover {
  border: 1px solid #33C3F0;
  outline: 0;
}
.input select:hover {
  cursor: pointer;
}
.input > span {
  color: #F44336;
  font-size: 1.1rem;
}
.input button {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 1.2em;
  color: #607d8b;
  background-color: rgba(207, 216, 220, 0.1);
  float: left;
  border: 1px solid #cfd7e6;
  border-radius: 2px;
}
/*
==============================
BUTTON
==============================
*/
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  color: #555;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #bbb;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  border-radius: 2px;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #33C3F0;
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
  border-color: #ccc !important;
  color: #ccc !important;
  cursor: auto;
  background-color: #eee;
  border: 1px solid #cfd7e6;
}

.outline-blue {
  border-color: #42A5F5 !important;
  color: #42A5F5 !important;
}
.outline-blue:hover {
  border-color: #2196F3 !important;
  color: #2196F3 !important;
}
.outline-red {
  border-color: #EF5350 !important;
  color: #EF5350 !important;
}
.outline-red:hover {
  border-color: #F44336 !important;
  color: #F44336 !important;
}

input[readonly] {
  background-color: #fafafa !important;
}
input[readonly]:hover,
input[readonly]:focus {
  border-color: #cfd7e6 !important;
}