.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  width: 100%;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .row .input {
    padding: 0 5px;
  }
  .row .input:first-child {
    padding-left: 0;
  }
  .row .input:last-child {
    padding-right: 0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
