@font-face {
  font-family: 'icon';
  src: url('../font/icon/icon.eot?c4ut27');
  src:
    url('../font/icon/icon.eot?c4ut27#iefix') format('embedded-opentype'),
    url('../font/icon/icon.ttf?c4ut27') format('truetype'),
    url('../font/icon/icon.woff?c4ut27') format('woff'),
    url('../font/icon/icon.svg?c4ut27#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2A394F !important;
}

.icon-sort-asc:before {
  content: "\e90e";
}
.icon-sort-desc:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90b";
}
.icon-arrow_back:before {
  content: "\e906";
}
.icon-arrow_forward:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-play_arrow:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e900";
}
.icon-favorite_border:before {
  content: "\e901";
}
.icon-favorite:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-exit_to_app:before {
  content: "\e905";
}
.icon-keyboard_arrow_right:before {
  content: "\e90a";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
