ul.tabs {
  white-space: nowrap;
  overflow-x: auto;
  margin: 0;
  padding: 0 10px;
}
ul.tabs li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}
ul.tabs li.active {
  border-bottom: 3px solid #15A4FA;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  ul.tabs li:hover {
    background-color: rgba(207, 216, 220, 0.5);
    cursor: pointer;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
