table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
}
tr {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
th {
  font-weight: normal;
  background-color: #fafafa;
  border-bottom: none;
  cursor: pointer;
}
th,
td {
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
}
th:first-child,
td:first-child {
  padding-left: 2px !important;
}
th:last-child,
td:last-child {
  padding-right: 2px !important;
}
tr:hover td {
  background-color: #f6fafd;
  border-top: 1px solid #bcd7f1;
  border-bottom: 1px solid #bcd7f1;
  cursor: pointer;
}

.special-cell span {
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 1.3rem;
}
.special-cell.green span {
  background-color: #66bb6a;
}
.special-cell.red span {
  background-color: red;
}
