<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="input col-6">
        <label>First Name</label>
        <input type="text" value="Any">
      </div>
      <div class="input col-6">
        <label>Last Name</label>
        <input type="text" value="Name">
      </div>
    </div>
    <div class="row">
      <div class="input col-6">
        <label>Email Address</label>
        <input type="text" value="any@pcn-inc.com">
      </div>
    </div>
    <hr class="divider">
    <div class="row">
      <div class="input col-6">
        <label>Address 1</label>
        <input type="text">
      </div>
      <div class="input col-6">
        <label>Address 2</label>
        <input type="text">
      </div>
    </div>
    <div class="row">
      <div class="input col-3">
        <label>City</label>
        <input type="text">
      </div>
      <div class="input col-3">
        <label>Province / State</label>
        <input type="text">
      </div>
      <div class="input col-3">
        <label>Country</label>
        <input type="text">
      </div>
      <div class="input col-3">
        <label>Postal / Zip Code</label>
        <input type="text">
      </div>
    </div>
    <hr class="divider">
    <div class="row">
      <div class="input col-6">
        <label>Language</label>
        <select>
          <option>English</option>
        </select>
      </div>
      <div class="input col-6">
        <label>Time Zone</label>
        <select>
          <option>(UTC) London, Edinburgh, Dublin, Lisbon</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="button" value="Update">
  </div>
</div>
