<form [formGroup]="myForm" [@animation]="">
  <div class="card">
    <core-loader [show]="processing" [delay]="500"></core-loader>
    <div class="card-header">
      <span class="button-link">
        <a [routerLink]="'../../users'">Back</a>
      </span>
      <i class="icon-keyboard_arrow_right"></i>
      {{ title }}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>First Name</label>
          <input type="text" [(ngModel)]="user.firstName" formControlName="firstName">
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Last Name</label>
          <input type="text" [(ngModel)]="user.lastName" formControlName="lastName">
        </div>
      </div>
      <div class="row">
        <div class="input col-3">
          <label>Username</label>
          <input type="text" [(ngModel)]="user.username" formControlName="username" [readonly]="mode !== 'new'">
          <span *ngIf="myForm.get('username').invalid && (myForm.get('username').dirty || myForm.get('username').touched)">
            <p *ngIf="myForm.get('username').errors.required">Username is required.</p>
            <p *ngIf="myForm.get('username').errors.pattern">Please use only letters (a-z), and numbers.</p>
          </span>
        </div>
        <div class="input col-3" [hidden]="mode !== 'new'">
          <label>Password</label>
          <input type="password" [(ngModel)]="user.password" formControlName="password">
          <span *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
            <p *ngIf="myForm.get('password').errors.minlength">Password must have at least 6 letters.</p>
            <p *ngIf="myForm.get('password').errors.required">Password is required.</p>
          </span>
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Email</label>
          <input type="text" [(ngModel)]="user.email" formControlName="email">
          <span *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
            <p *ngIf="myForm.get('email').errors.required">Email is required.</p>
            <p *ngIf="myForm.get('email').errors.email && !myForm.get('email').errors.required">Email is invalid.</p>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="input col-3" [hidden]="mode !== 'reset-password'">
          <label>New Password</label>
          <input type="password" [(ngModel)]="user.newPassword" formControlName="newPassword">
          <span *ngIf="myForm.get('newPassword').invalid && (myForm.get('newPassword').dirty || myForm.get('newPassword').touched)">
            <p *ngIf="myForm.get('newPassword').errors.minlength">Password must have at least 6 letters.</p>
            <p *ngIf="myForm.get('newPassword').errors.required">Password is required.</p>
          </span>
        </div>
      </div>
      <hr [hidden]="mode === 'reset-password'" />
      <div class="row">
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Role</label>
          <select [(ngModel)]="user.role" formControlName="role" style="text-transform:capitalize">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'" *ngIf="user.orgs[0]">
          <label>Organization</label>
          <select [(ngModel)]="user.orgs[0]._id" formControlName="orgs" style="text-transform:capitalize">
            <option value=""></option>
            <option *ngFor="let org of orgs" [value]="org._id">{{ org.name }}</option>
          </select>
        </div>
      </div>
      <hr [hidden]="mode === 'reset-password'" />
      <div class="row">
        <div class="input col-6" [hidden]="mode === 'reset-password'">
          <label>Address 1</label>
          <input type="text" [(ngModel)]="user.location.address1" formControlName="address1">
        </div>
        <div class="input col-6" [hidden]="mode === 'reset-password'">
          <label>Address 2</label>
          <input type="text" [(ngModel)]="user.location.address2" formControlName="address2">
        </div>
      </div>
      <div class="row">
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>City</label>
          <input type="text" [(ngModel)]="user.location.city" formControlName="city">
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Province / State</label>
          <input type="text" [(ngModel)]="user.location.state" formControlName="state">
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Country</label>
          <input type="text" [(ngModel)]="user.location.country" formControlName="country">
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Postal / Zip Code</label>
          <input type="text" [(ngModel)]="user.location.postal" formControlName="postal">
        </div>
      </div>
      <hr [hidden]="mode === 'reset-password'" />
      <div class="row">
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Language</label>
          <select [(ngModel)]="user.language" formControlName="language" style="text-transform:capitalize">
            <option *ngFor="let language of languages" [value]="language.code">
              {{language.name}}
            </option>
          </select>
        </div>
        <div class="input col-3" [hidden]="mode === 'reset-password'">
          <label>Time Zone</label>
          <input type="text" [(ngModel)]="user.timezone" formControlName="timezone">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <input type="button" value="Save" *ngIf="mode === 'new'" (click)="saveNew()" [disabled]="myForm.invalid">
      <input type="button" value="Update" *ngIf="mode === 'update'" (click)="update(user.username)" [disabled]="myForm.invalid">
      <input type="button" value="Delete" class="outline-red" *ngIf="mode === 'update'" (click)="delete(user.username)">
      <input type="button" value="Reset Password" class="outline-blue" *ngIf="mode === 'update'" (click)="routeToResetPassword(user.username)">
      <input type="button" value="Submit" class="outline-blue" *ngIf="mode === 'reset-password'" (click)="resetPassword(user.username)"
        [disabled]="myForm.invalid">
    </div>
  </div>
</form>
