:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #cfd7e6;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
