:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 30px;
  height: 12px;
}

.square {
  background: rgb(41, 181, 246);
  width: 8px;
  height: 8px;
  float: left;
  top: -5px;
  margin-right: 3px;
  margin-top: 3px;
  position: relative;
  opacity: 0;
  animation: enter 2.1s infinite;
  -o-animation: enter 2.1s infinite;
  -ms-animation: enter 2.1s infinite;
  -webkit-animation: enter 2.1s infinite;
  -moz-animation: enter 2.1s infinite;
}

.enter {
  top: 0px;
  opacity: 1;
}

.square:nth-child(1) {
  animation-delay: 0.63s;
  -o-animation-delay: 0.63s;
  -ms-animation-delay: 0.63s;
  -webkit-animation-delay: 0.63s;
  -moz-animation-delay: 0.63s;
}

.square:nth-child(2) {
  animation-delay: 0.735s;
  -o-animation-delay: 0.735s;
  -ms-animation-delay: 0.735s;
  -webkit-animation-delay: 0.735s;
  -moz-animation-delay: 0.735s;
}

.square:nth-child(3) {
  animation-delay: 0.84s;
  -o-animation-delay: 0.84s;
  -ms-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  -moz-animation-delay: 0.84s;
  background: rgb(170, 71, 188);
}

.square:nth-child(4) {
  animation-delay: 0.315s;
  -o-animation-delay: 0.315s;
  -ms-animation-delay: 0.315s;
  -webkit-animation-delay: 0.315s;
  -moz-animation-delay: 0.315s;
  animation-delay: 0.315s;
}

.square:nth-child(5) {
  animation-delay: 0.42s;
  -o-animation-delay: 0.42s;
  -ms-animation-delay: 0.42s;
  -webkit-animation-delay: 0.42s;
  -moz-animation-delay: 0.42s;
  animation-delay: 0.42s;
}

.square:nth-child(6) {
  animation-delay: 0.525s;
  -o-animation-delay: 0.525s;
  -ms-animation-delay: 0.525s;
  -webkit-animation-delay: 0.525s;
  -moz-animation-delay: 0.525s;
  animation-delay: 0.525s;
}

.square:nth-child(8) {
  animation-delay: 0.105s;
  -o-animation-delay: 0.105s;
  -ms-animation-delay: 0.105s;
  -webkit-animation-delay: 0.105s;
  -moz-animation-delay: 0.105s;
  animation-delay: 0.105s;
}

.square:nth-child(9) {
  animation-delay: 0.21s;
  -o-animation-delay: 0.21s;
  -ms-animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
  -moz-animation-delay: 0.21s;
  animation-delay: 0.21s;
}

.clear {
  clear: both;
}

.last {
  margin-right: 0;
}

@keyframes enter {
  0% {
    opacity: 0;
    top: -5px;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: 5px;
  }
}

@-o-keyframes enter {
  0% {
    opacity: 0;
    top: -5px;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: 5px;
  }
}

@-ms-keyframes enter {
  0% {
    opacity: 0;
    top: -5px;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: 5px;
  }
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -5px;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: 5px;
  }
}

@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: -5px;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: 5px;
  }
}
