select {
  margin: 0 4px;
  padding: 0;
  width: calc(100% - 72px);
  margin-bottom: 10px;
  float: left;
}
select:hover {
  cursor: pointer;
}
select:disabled,
select:disabled:hover {
  border-color: #ccc !important;
  color: #eee !important;
  cursor: auto;
  background-color: #eee !important;
  border: 1px solid #cfd7e6;
}
button {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 1.2em;
  color: #607d8b;
  background-color: rgba(207, 216, 220, 0.1);
  float: left;
  border: 1px solid #cfd7e6;
  border-radius: 2px;
}
button:disabled,
button[disabled]:hover {
  border-color: #ccc !important;
  color: #eee !important;
  cursor: auto;
  background-color: #eee !important;
  border: 1px solid #cfd7e6;
}
button:disabled i,
button[disabled]:hover i {
  color: #ccc !important;
}
button:hover,
button:focus {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #33C3F0;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
