<button type="button" [disabled]="value === min || disabled" (click)="decreaseValue()"><i class="icon-arrow_back"></i></button>
<select [(ngModel)]="value" (ngModelChange)="onValueChange($event)" [disabled]="disabled">
  <option *ngFor="let value of values" [value]="value">{{ value }}</option>
</select>
<button type="button" [disabled]="value === max || disabled" (click)="increaseValue()"><i class="icon-arrow_forward"></i></button>
